<a href="https://colab.research.google.com/github/devopsashu/python-docs-samples/blob/main/Copy_of_Intellipaat_2_live_lecture_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#variable
a=10
arr1=2020101
name1=Rohan
#a and A are different
# only _ is allowed
# _ or alphabet is allowed to start with
# it cant start with numbers
#you cant use keywords as variable

In [ ]:
#literals==used to assign raw values or data
#string literal: everything inside quotes  '' or ""
#boolean literal : true or false
#special literal : Absence of value is called None or special literals
#numeric literal: which are having numeric values. int, float, long and complex are the types of numeric literals.

In [ ]:
#data types: define the type of given data
#Immutable data type: that can't be changed. (numeric data type, strings, tuples)
#mutable data types: datat which can be changed (lists,dictionaries, sets)

In [ ]:
#numeric data type :
a=1283748748
print(type(a)) #type function is used when we dont knw the type of our data variable. Numeric data will cover int, float and complex data types.

<class 'int'>

In [ ]:
#string: characters, names, or anything under "" or ''
name="Rohan"
print(type(name))

<class 'str'>

In [ ]:
#tuples: group of values inside (), we can store multiple item in a single variable. you cant change the value of tuples. tuples are ordered and you can store duplicate type of data inside tuples.
#(ordered because it will store the values in the same way we entered the value), immutable, can store duplicate values
mytuple1=(1,2,3,4)
print(mytuple1)
print(type(mytuple1))
#lets say we want to know the length of a tuple:
#len function
print(len(mytuple1))
#you can store any type of data inside tuples seperated by commas and stored inside the (), you can use mixed types of data inside the same tuple.
#Indexing: lets say we want to print only the first value of our tuple.from starting, indexing will be start from 0 and from backwards indexings starts from -1.
print(mytuple1[0])
#you cant change the values inside a tuple.
mytuple1[0]=100
print(mytuple1)

(1, 2, 3, 4)
<class 'tuple'>
4
1

TypeError: 'tuple' object does not support item assignment

In [ ]:
#mutable data types: data can be altered
#-list, set and dictionary
#list: data stored inside [], used to store multiple items inside square brackets.
mylist1 = ["sourabh", 'marmott', 'potty', "ewwww"]
print(mylist1)
print(type(mylist1))
print(len(mylist1))
print(mylist1[0])
#difference between tuples and list.
#tuples comes under immutable datatype, and list comes under mutable datatype.
#you can access and change the items inside the lists.

['sourabh', 'marmott', 'potty', 'ewwww']
<class 'list'>
4
sourabh

In [2]:
#Lists:
#you can access and change the items
#for eg:
mylist2=['library','vipin','smile']
print(mylist2)

#lets say i want to change the library from library to cherry.
mylist2[0]='cherry'
print(mylist2)
print(mylist2[0])

#add element to your lists
mylist3=["gullu", "milky"]
mylist2=mylist2+mylist3
print(mylist2)

#or you can also use append function :
mylist2.append("bullet")
print(mylist2)

#lets say i want to add bike at second index:
mylist2.insert(1,'bike')
print(mylist2)

['library', 'vipin', 'smile']
['cherry', 'vipin', 'smile']
cherry
['cherry', 'vipin', 'smile', 'gullu', 'milky']
['cherry', 'vipin', 'smile', 'gullu', 'milky', 'bullet']
['cherry', 'bike', 'vipin', 'smile', 'gullu', 'milky', 'bullet']

In [15]:
#dictionaries:
#a dict (short for dictionary) is a built-in data structure that stores data in key-value pairs. Each key in a dictionary is unique, and it maps to a value.
#You can create a dictionary by placing a comma-separated list of key-value pairs inside curly braces {}. The keys and values are separated by a colon :
dict1={1:'Popu', 2: 'Shruti', 3: "Gulla"}
print(dict1)

#dict are changeable, ordered and you can change the values accordingly. but duplicate items are not allowed in dict.
#for eg:
dict2={1:'shark', 2:'Ram', 3:'Nirmala', 4:'Nirma', 1:'Nirmala'}
#both keys are same that is the reason why it is not printed as 1:shark.
#The key 1 is repeated. The first key-value pair is 1: 'shark', but then it's overwritten by the second key-value pair 1: 'Nirmala'.
print(dict2)

#you can access the items with the key that are attached to the value,
print(dict1[3])

#or you can also access the values using get function.
print(dict2.get(4))

#for accessing all the keys only.
print(dict1.keys())

#for accessing all the values only
print(dict2.values())

#lets change the values of dict2 from Nirma to gulli
dict2[2]="Ashu"
print(dict2)

{1: 'Popu', 2: 'Shruti', 3: 'Gulla'}
{1: 'Nirmala', 2: 'Ram', 3: 'Nirmala', 4: 'Nirma'}
Gulla
Nirma
dict_keys([1, 2, 3])
dict_values(['Nirmala', 'Ram', 'Nirmala', 'Nirma'])
{1: 'Nirmala', 2: 'Ashu', 3: 'Nirmala', 4: 'Nirma'}

In [18]:
# sets : a set is an unordered collection of unique elements. Sets are commonly
# used to store items where duplicate values are not allowed and where the order
# of items doesn't matter. They are similar to mathematical sets and support
# operations like union, intersection, and difference.
# Sets are defined using curly braces {} or the set() constructor.
#in set , you cant store duplicate values, u can only store unique values only
set1={1, 'apple', 'guava', 'cherry'}
print(set1)
#set can change the order of the items accordingly.
#even if you store two same values, it will give result output as only one value
set2={1, 'apple', 'guava', 'cherry', 'apple'}
print(set2)

#set will only store UNIQUE values
set3={1, 'apple', 'guava', 'True', 'apple', 1}
print(set3)
#sets thinsk true and 1 as same things.

#lists v/s set
#1.Lists can have duplicate values, set cant
#2.Lists are ordered, sets are unondered.

{'guava', 1, 'cherry', 'apple'}
{'guava', 1, 'cherry', 'apple'}
{'guava', 1, 'True', 'apple'}

In [31]:
#If- else -elif condition:
#The elif statement in Python is a shorthand for "else if." It is used in conjunction with if and else statements to check multiple conditions. When writing a conditional block, you can use elif to add additional conditions after an initial if statement. If the condition in the if statement evaluates to False, Python will check the elif condition, and so on
a=12
b=209
print(a>b)
print (b>a)
if a>b:
    print("a is greater than b")
if a<b:
    print("b is greater than a")
else:
    print("a and b are equal")

#lets say a=b=200
a=200
b=200
if a>b:
    print("a is greater than b")
elif a==b:
    print("both are equal")
else:
    print("a is greater than b")

#nested if :
#A nested if statement is an if statement placed inside another if statement.
#This allows you to check multiple conditions at different levels of decision-making.
# When the outer if condition is true, the code inside the block is executed,
# which might include another if statement that checks an additional condition.
# If the outer condition is false, the code inside the outer block is skipped.
a=10
if a<5:
  print("greater than 5")
  if a<7:
    print("greater than 7")
    if a<9:
      print("greater than 9")
else:
    print("value is 10")
# (if first if condition is true than only it will check for second condition,
# otherwise it will not check for any condition and directly go for else part)

False
True
b is greater than a
both are equal
value is 10

In [ ]:
# indentation is crucial because it defines the structure and flow of your code.
# Unlike many other programming languages that use braces {} or keywords to
# define blocks of code, Python relies on indentation levels to determine which
# statements belong to which blocks, such as loops, conditionals, and functions.

In [34]:
#python loops
#for loop and While loop
#for loops:
# for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
#exampe 1 : print numbers from 0 to 10
for i in range(0,11): #(your loops always run in 1- ending range, lets say 11, so that it will result in 10 output)
    print(i)
#(lets say, we want to add a gap of 2 values, lets say 2,4,6 etc)
for i in range(0,11,2):  #(this 2 will be considered as a gap of 2 values)
    print(i)

0
1
2
3
4
5
6
7
8
9
10
0
2
4
6
8
10

In [38]:
#example2:
for x in range(5,21,5):
 print(x)

list1=["apple", "banana", "cherry"]
for x in list1:
  print(x)

5
10
15
20
apple
banana
cherry